<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
  link(rel="stylesheet", href="css/style.css")
  title What The FlexBox?! - A free 20 video course to learn CSS Flexbox
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(property="og:image" content="http://flexbox.io/images/share.png")
  meta(property="og:title" content="Free Flexbox Video Series")
  meta(property="og:type" content="website")
  meta(property="og:url" content="http://flexbox.io")
  meta(property="og:site_name" content="What The FlexBox?! Video Series")
  meta(property="og:description" content="A simple 20 video course that will help you master CSS Flexbox")
  meta(property="description" content="A simple 20 video course that will help you master CSS Flexbox")
  meta(name="twitter:card" content="photo")
  meta(name="twitter:site" content="@wesbos")
  meta(name="twitter:creator" content="@wesbos")
  meta(name="twitter:title" content="What The FlexBox?! Video Series")
  meta(name="twitter:description" content="A simple 20 video course that will help you master CSS Flexbox")
  meta(name="twitter:image" content="http://flexbox.io/images/share.png")
  meta(name="twitter:url" content="http://flexbox.io")

  //- Icons
  //- link(rel="icon" href="http://flexbox.io/images/favicon.png" type="image/png?v=2")
  link(rel="icon" href="http://flexbox.io/images/favicon.png?v=2" type="image/png")
  link(rel="apple-touch-icon" href="http://flexbox.io/images/apple-touch-icon.png?v=2")
  link(rel="apple-touch-icon" sizes="57x57" href="http://flexbox.io/images/apple-touch-icon-57x57.png?v=2")
  link(rel="apple-touch-icon" sizes="72x72" href="http://flexbox.io/images/apple-touch-icon-72x72.png?v=2")
  link(rel="apple-touch-icon" sizes="76x76" href="http://flexbox.io/images/apple-touch-icon-76x76.png?v=2")
  link(rel="apple-touch-icon" sizes="114x114" href="http://flexbox.io/images/apple-touch-icon-114x114.png?v=2")
  link(rel="apple-touch-icon" sizes="120x120" href="http://flexbox.io/images/apple-touch-icon-120x120.png?v=2")
  link(rel="apple-touch-icon" sizes="144x144" href="http://flexbox.io/images/apple-touch-icon-144x144.png?v=2")
  link(rel="apple-touch-icon" sizes="152x152" href="http://flexbox.io/images/apple-touch-icon-152x152.png?v=2")

body
  block content
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="https://apis.google.com/js/platform.js" async defer)
  script(src="https://platform.twitter.com/oct.js" type="text/javascript")
  script(src="js/app.js")
  footer
    a(href="http://wesbos.com") &copy; Wes Bos
    a(href="http://twitter.com/wesbos") @wesbos
    section.social
      a(href="https://twitter.com/share" class="twitter-share-button" data-url="http://FlexBox.io" data-text="What The FlexBox?! A new video course by @wesbos → " data-related="wesbos") Tweet
      a(href="https://twitter.com/wesbos" class="twitter-follow-button" data-show-count="true") Follow @wesbos
      div(class="fb-like" data-href="http://flexbox.io" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false") Like
      g:plusone()

  #fb-root
